.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.modal {
    position: fixed;
    width: 400px;
    height: 280px;
    z-index: 200;
    top: calc((100%-280px)/2);
    left: calc((100%-400px)/2);
    font-family: sans-serif;
    line-height: 1.5;
    color: red;
    background-color: rgb(200, 200, 200);
}

.off {
    transform: translateY(-800px);
}

.on {
    transform: translateY(0);
}
.hide {
    display: none;
}

.show {
    display: block;
}
.page{
    display: none;
}
.active{
    display: block;
}
.flex.container{
    display: flex;
    flex-wrap: wrap;
}
.movieCard {
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "a b";
    margin: 4rem;
}
.movieCard:hover{
    transform: scale(1.05);
}
.ImageSection {
    grid-area: a;
}
.movieCard > p {
    grid-area: b;
    /* overflow: hidden; */
    overflow: inherit;
}
/*
section.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.movieCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b";
}
.movieCard  .ImageSection{
    grid-area: a;
}
.movieCard  h1,h2,h4,p{
    grid-area: b;
    overflow: hidden;
}
*/
/*

.movieCard {
    width: 50rem;
    height: auto;
    margin: 1rem auto;
    background-color: cornflowerblue;
    color: white;
}
.ImageSection{
    float: left;
    width: 12rem;
    height: 17rem;
    margin-right: 1rem
    overflow: hidden;
}
.imageSection > img {
    height: 17rem;
    margin-right: 1rem;
}
*/

.searchButtonDiv{
    height: 3rem;
    width: 3rem;
    cursor: pointer
}

.iconic-property-stroke,
.iconic-property-fill {
    fill: #345;
    stroke: #269
}

main {
    text-align: center;
    background-color: aqua;
    z-index: 100px;
    margin: 1rem;
    padding: 2rem;
}

header{
    display: flex;
    flex-direction: row;
    margin-top: 16rem;
    justify-content: center;
}
#search-input {
    width: 400px;
    height: 40px;
    text-align: center;
    font-size: 1.5rem;
    margin-right: 1rem;
    transition: width 1s;
}

#search-input:hover {
    width: 600px;
    height: 40px;
}
#magnify{
    width: 2.8rem;
    height: 2.5rem;
    margin-left: -5rem;
    margin-top: 0.2rem;
    position: relative;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    background-color: chartreuse;
    text-align: center;
}
.modal-radio {
    text-align: center;
    padding-top: 4rem;
    font-size: 1.4rem;
}

.btnsave {
    margin-top: 3.5rem;
    margin-left: 1.5rem;
    font-size: 1rem;
    background-color: chartreuse;
    width: 25%;
    height: 10%;
}

.btncancel {
    width: 25%;
    height: 10%;
    margin-left: 9rem;
    font-size: 1rem;
    background-color: chartreuse;
}

h1 {
    color: red;
    font-size: 4rem;
    text-align: center;
}

